<div>
    <form asp-action="Create" method="post">
        <div>
            <label  class="form-label">Name</label>
            <input class="form-control" />
        </div>
        <div>
            <label class="form-label">Number</label>
            <input class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Add contact</button>
    </form>
</div>