@model CreateViewModel

<div>
    <form id ="ContactForm" name="ContactForm" onsubmit="return validateForm()" asp-action="Create" method="post">
        <div>
            <label asp-for="contact.name" class="form-label">Name</label>
            <input asp-for="contact.name" class="form-control"/>
        </div>
        <div>
            <label asp-for="contact.number" class="form-label">Number</label>
            <input asp-for="contact.number" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Add contact</button>
    </form>
</div>