@model MainViewModel

<div class="text-center">
    <h1 class="display-4">Phone book</h1>
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Number</th>
        </tr>
    @foreach(var contact in @Model.GetContacts())
    {
        <tr>
                <td>@contact.name </td>
                <td>@contact.number</td>
        </tr>
    }
    </table>
    <a asp-controller="Home" asp-action="Create">Create</a>
</div>
