@model ModifyViewModel

<form asp-action="Modify" method="post">
    <div>
        <label asp-for="contact.name" class="form-label">Name</label>
        <input asp-for="contact.name" class="form-control" name="fname" />
    </div>
    <div>
        <label asp-for="contact.number" class="form-label">Number</label>
        <input asp-for="contact.number" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Add contact</button>
    <p>@Model.contactID</p>
</form>